            * {
                margin: 0;
                padding: 0;
            }
            
            body {
                background-color: #e8e8e8;
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                font-size: 10pt;
                /*13px*/
            }
            
            $hover-color: #666666;
                     
            #reg {
                height: 50px;
                width: 150px;
                background-color: #0748fcfb;
                border-radius: 5px;
                border: 2px solid #08f5e1;
                color: #08f5e1;
                font-size: 2em;
                margin: 2em;
                transition: 1s;
                &:hover {
                    height: 150px;
                    border-radius: 150px;
                }
            }
            
            .modal {
                display: none;
                z-index: 2;
                max-width: 840px;
                margin: auto;
                margin-top: 3%;
                height: 100%;
                background-color: white;
                border-top: 2px solid #e62b1e;
                box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
                box-sizing: border-box;
                animation: zoomIn 2s 1;
            }
            
            .header {
                position: relative;
                font-size: 1.6em;
                height:85px;
                h1 {
                    position: absolute;
                    left: 19%;
                    top: 50%;
                    transform: translate(50%, -50%);
                }
            }
            
            .footer {
                padding: 33px 0;
                text-align: center;
                font-size: 1.3em;
                font-weight: normal;
                p {
                    color: $hover-color;
                }
                a {
                    color: black;
                    &:hover {
                        color: $hover-color;
                    }
                }
            }
            
            #close {
                color: #cacaca;
                position: absolute;
                right: 10px;
                transition: transform 1s;
                text-decoration: none;
                font-weight: 400;
                font-size: 1.6em;
                &:hover {
                    transform: scale(2) rotate(90deg);
                }
            }
            
            .main {
                background-color: #f3f3f3;
                height: auto;
                display: flex;
            }
            
            %log {
                height: 100%;
                width: 50%;
                box-sizing: border-box;
                padding: 40px 60px;
            }
            
            %flex {
                display: flex;
                flex-direction: column;
            }
            
            .logwith {
                @extend %log;
                font-weight: bold;
                @extend %flex;
                justify-content: flex-start;
                align-items: center;
            }
            
            %btn {
                position: relative;
                display: inline-block;
                appearance: none;
                border: 0;
                white-space: nowrap;
                user-select: none;
                text-decoration: none;
                color: white;
                width: 100%;
                height: 40px;
                font-size: 1em;
                font-weight: bold;
                border-radius: 3px;
            }
            
            %icon {
                position: absolute;
                left: 0;
                padding: 0 0.9em;
            }
            
            .btn1 {
                @extend %btn;
                background-color: #3e5b96;
                i {
                    @extend %icon;
                    font-size: 1.5em;
                }
                &:hover i {
                    animation: rotate 0.5s infinite;
                }
            }
            
            .btn2 {
                @extend %btn;
                background-color: #dd5342;
                margin-top: 20px;
                svg {
                    @extend %icon;
                }
                &:hover svg {
                    animation: rotate 0.5s infinite;
                }
            }
            
            .login {
                @extend %log;
                position: relative;
                &::before {
                    content: " ";
                    width: 1px;
                    height: calc(100% - 80px);
                    background-color: #cfcfcf;
                    position: absolute;
                    left: 0;
                }
            }
            
            .log {
                @extend %flex;
                justify-content: stretch;
                align-items: flex-start;
                label {
                    padding: 1.7em 0 0.5em 0;
                    &:first-of-type {
                        padding-top: 0;
                    }
                }
                p {
                    padding: 1.7em 0 0.5em 0;
                    &:first-of-type {
                        padding-bottom: 0;
                    }
                }
                a {
                    color: black;
                    padding-left: 50px;
                    &:hover {
                        color: $hover-color;
                    }
                }
            }
            
            input[type="text"],
            input[type="password"] {
                width: 18.7rem;
                height: 2.5rem;
                border: 1px solid #dddddd;
                border-radius: 3px;
            }
          
            input[type="submit"] {
                background-color: #252525;
                padding: 0.8em 2.3em;
                border: 0;
                border-radius: 3px;
                color: #fff;
                font-weight: bold;
            }
            
            @keyframes rotate {
                0%,
                100% {
                    transform: rotate(-20deg);
                }
                50% {
                    transform: rotate(20deg);
                }
            }
            
            @keyframes zoomIn {
                from {
                    opacity: 0;
                    -webkit-transform: scale3d(0.3, 0.3, 0.3);
                    transform: scale3d(0.3, 0.3, 0.3);
                }
                50% {
                    opacity: 1;
                }
            }

            @media screen and (min-width:666px) and (max-width:768px) {
                input[type="submit"] {
                    padding: 0.8em;
                }
                .log a {
                    padding-left: 10px;
                }
            }
            
            @media screen and (min-width:480px) and (max-width:666px) {
                .log a {
                    padding-left: 10px;
                }
                .logwith {
                    width: 20%;
                }
                .login {
                    width: 80%;
                }
                .btn1,
                .btn2 {
                    width: 70px;
                    height: 60px;
                    p {
                        display: none;
                    }
                }
                .btn1 i {
                    padding: 0;
                    top: 10px;
                    left: 20px;
                    font-size: 3em;
                }
                .btn2 svg {
                    padding: 0;
                    top: 10px;
                    left: 15px;
                    font-size: 2em;
                }
                .header h1 {
                    left: 10%;
                }
            }
            
            @media screen and (min-width:320px) and (max-width:479px) {
                .logwith {
                    width: 20%;
                    padding: 30px 10px;
                }
                .login {
                    width: 80%;
                    padding: 30px 10px;
                    &::before {
                        height: 90%;
                    }
                }
                .btn1,
                .btn2 {
                    width: 50px;
                    height: 40px;
                    p {
                        display: none;
                    }
                }
                .btn1 i {
                    padding: 0;
                    top: 10px;
                    left: 10px;
                    font-size: 2em;
                }
                .btn2 svg {
                    padding: 0;
                    top: 10px;
                    left: 10px;
                    font-size: 1.5em;
                }
                .header h1 {
                    font-size: 1em;
                }
                .log a {
                    padding-left: 110px;
                }
            }
